/**************************************************
*Description: Primary style sheet for Login.htm
*Erica Wilder and Ethan Tyler
***************************************************/
/*Adjust body style*/
body {
font-family: Arial;
background-color: #E6E6FA;
padding: 50px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}