<!doctype html/>
<html>
  <head>
    <title>Flask App - login page</title>
	<link type="text/css" rel="stylesheet" href="static/project_stylesheet.css"/>
  </head>
  <body>
      <center>
      <h1>Members ONLY. Please log into Celebrities</h1>
      <br>
      <form action="" method="post">
        <table>
            <tr><input type="text" placeholder="Username" name="username" value="{{request.form.username }}"></tr>
          <br>
          <br>
            <tr><input type="password" placeholder="Password" name="password" value="{{request.form.password }}"></tr>
          <br>
          <br>
            <tr><input type="submit" value="Login"></tr>
        </table>
      </form>
      {% if error %}
          <p><strong>Login Error:</strong>{{error}}</p>
      {% endif %}
      </center>
  </body>
</html>