<html>
    <head>
        <title>Flask App - Celebrities</title>
        <link type="text/css" rel="stylesheet" href="static/celebs_stylesheet.css"/>
    </head>
<form action="" method="post">
        <body>
            <table border=5>
                <tr>
                    <td>Photo</td> <td><img height="256" width="256" src="{{photo}}"/></td>
                </tr>
                <tr>
                    <td>Celebrity ID</td> <td>{{celebID}}</td>
                </tr>
                <tr>
                    <td>First Name</td> <td>{{firstname}}</td>
                </tr>
                <tr>
                    <td>Last Name</td> <td>{{lastname}}</td>
                </tr>
                <tr>
                    <td>Age</td> <td>{{age}}</td>
                </tr>
                <tr>
                    <td>Email</td> <td>{{email}}</td>
                </tr>
                <tr>
                    <td>Bio</td> <td>{{bio}}</td>
                </tr>
                <tr>
                    <td><input type="number" name="celebID" min="1" max="8"/></td>
                    <td colspan=2><input type="submit" value="Click To Update"></td>
                </tr>
            </table>
        </body>
</form>
</html>